.cube-size, .btn-white {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-transform: capitalize;
}

* {
  -webkit-transition: ease .2s;
  transition: ease .2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100%;
}

body {
  background-color: white;
  font-family: Arial;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header, .main {
  max-width: 600px;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
  padding: 1rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.logo img {
  width: 30px;
}

.cube-size {
  height: 30px;
  border: none;
  padding: 0 5px;
  padding-top: 2px;
  background-color: transparent;
  cursor: pointer;
}

.btn-white {
  background-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 4px 1px 10px rgba(200, 200, 200, 0.5);
          box-shadow: 4px 1px 10px rgba(200, 200, 200, 0.5);
  cursor: pointer;
}

.btn-white:hover {
  -webkit-box-shadow: 4px 1px 10px #c8c8c8;
          box-shadow: 4px 1px 10px #c8c8c8;
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

.btn-rounded {
  height: 30px;
  border-radius: 40px;
  cursor: pointer;
  padding: 0 1rem;
}

.main {
  height: calc(100% - 2rem - 35px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem;
}

.scramble__container {
  text-align: center;
}

.scramble__output {
  text-align: center;
  letter-spacing: .8px;
  line-height: 1.5rem;
  text-shadow: 2px 1px 5px rgba(100, 100, 100, 0.6);
}

.btn__scramble {
  margin-top: 10px;
}

.btn-start {
  height: 120px;
  width: 120px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.5rem;
}

.timer {
  font-size: 4rem;
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
}

.results {
  display: none;
}
/*# sourceMappingURL=style.css.map */