$bgColor: rgb(255,255,255)
$btnBgColor: #ffffff
$elShadow: 4px 1px 10px rgba(200,200,200, .5)
$elShadowHover: 4px 1px 10px rgba(200,200,200, 1)
$textShadow: 2px 1px 5px rgba(100,100,100, .6)

%fonts
    font-weight: bold
    font-family: 'Times New Roman', Times, serif
    font-style: italic
    text-transform: capitalize
    
*
    transition: ease .2s
    box-sizing: border-box
html, body
    height: 100vh
    width: 100%
body
    background-color: $bgColor
    font-family: Arial
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
.header, .main
    max-width: 600px
    width: 100%
.header
    display: flex
    align-items: center
    justify-content: space-between
    height: 35px
    padding: 1rem
.logo
    display: flex
    align-items: center
    justify-content: flex-start
.logo img
    width: 30px
.cube-size
    height: 30px
    border: none
    padding: 0 5px
    padding-top: 2px
    background-color: transparent
    cursor: pointer
    @extend %fonts
.btn-white
    background-color: $btnBgColor
    border: 1px solid rgba(255,255,255,.5)
    box-shadow: $elShadow
    cursor: pointer
    @extend %fonts
    &:hover
        box-shadow: $elShadowHover
        transform: translate(1px, 1px)

.btn-rounded
    height: 30px
    border-radius: 40px
    cursor: pointer
    padding: 0 1rem

.main
    // margin-top: 3rem
    height: calc(100% - 2rem - 35px)
    display: flex
    align-items: center
    justify-content: space-around
    flex-direction: column
    padding: 0 1rem
.scramble
    &__container
        text-align: center
    &__output
        text-align: center
        letter-spacing: .8px
        line-height: 1.5rem
        text-shadow: $textShadow
.btn__scramble
    margin-top: 10px
.btn-start
    height: 120px
    width: 120px
    cursor: pointer
    border-radius: 50%
    font-size: 1.5rem

.timer
    font-size: 4rem
    font-family: Arial
    font-weight: bold
    font-style: italic
.results
    display: none